*{
    text-align: center;
    color:rgb(240, 242, 228);
    background-color: #8192b1
    
;
}
@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
}
.link{
    color: #161e2d
    ;
}